@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
}

#nav {
  padding: 20px 40px 20px 40px;
  box-shadow: 0 0 10px rgba(0,0,0,.09);
  background-color: #fff;
  font-weight: 600;
}

nav ul a {
  color: red;
}

.intro {
  height: 100vh;
}

.mainContent {
  align-items: center;
  display: flex;
  height: 35rem;
  justify-content: center;
  position: relative;
}

.mainText {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  text-align: left;
  justify-content: left;
}

h1 {
  margin-bottom: 10px;
  font-size: 4rem;
}

#mainImg {
  height: 17rem;
  width: 17rem;
  border: 2px solid #2d2e32;
  border-radius: 60%;
  margin-left: 5rem;
}